:host {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	height: 5rem;
	padding: 0 2rem;
}

a {
    display: inline-block;
    font-size: 0.75rem;
    margin-left: 1.5rem;
    font-weight: 500;
    color: #777;
    text-transform: uppercase;
    text-decoration: none;
}
