<div class="container">

	<section>
		<p class="intro">Enthusiastic and versatile web professional with over {{setDate()}} years experience as a front-end developer and interface designer. Able to quickly bring creative ideas to life by developing prototypes using the latest front-end technologies including SASS, HTML5 and Javascript as well as with modern frameworks such as Angular.</p>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi soluta, sit hic facilis placeat assumenda perferendis vero corporis illum, illo tempore temporibus recusandae vel!</p>
	</section>

	<section>
		<div class="row">
			<div class="col-md-3">
				<h2>Currently</h2>
			</div>
			<div class="col-md-9">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci sunt, nisi assumenda mollitia nostrum, aliquid est molestiae veniam dolores illum beatae voluptatum rerum quisquam sint doloribus unde pariatur ab ipsum quas excepturi nam quos vero. Ex.</p>
			</div>
		</div>
	</section>

	<section>
		<div class="row">
			<div class="col-md-3">
				<h2>Skills</h2>
				<a href="#">Resume in pdf</a>
			</div>
			<div class="col-md-9">
				<div class="row">
					<div class="col-md-4">
						<ul>
							<li>Angular framework (2+)</li>
							<li>SASS/CSS</li>
							<li>HTML</li>
							<li>SketchApp</li>
						</ul>
					</div>
					<div class="col-md-4">
						<ul>
							<li>Photoshop/Illustrator</li>
							<li>Git versioning</li>
							<li>Typescript</li>
							<li>Zeplin</li>
						</ul>
					</div>
					<div class="col-md-4">
						<ul>
							<li>Invision</li>
							<li>Skill</li>
							<li>Skill</li>
							<li>Skill</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>

	<p>Get in touch, write to <a href="mailto:christian.tate@gmail.com">christian.tate@gmail.com</a></p>

</div>
