<h2>Experience</h2>
<div class="timeline">
    <div class="experience-item">
        <h3>Kargo</h3>
        <h5>UX Engineer</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam inventore, laboriosam, quis dolore odio aperiam non alias id consectetur, expedita asperiores reiciendis at, incidunt aspernatur. Blanditiis impedit aliquam alias vitae?</p>
    </div>
    <div class="experience-item">
        <h3>The Orchard</h3>
        <h5>Product Designer/Frontend Developer</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam inventore, laboriosam, quis dolore odio aperiam non alias id consectetur, expedita asperiores reiciendis at, incidunt aspernatur. Blanditiis impedit aliquam alias vitae?</p>
    </div>
    <div class="experience-item">
        <h3>The Orchard</h3>
        <h5>Frontend Developer</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam inventore, laboriosam, quis dolore odio aperiam non alias id consectetur, expedita asperiores reiciendis at, incidunt aspernatur. Blanditiis impedit aliquam alias vitae?</p>
    </div>
</div>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum necessitatibus sapiente quos omnis quasi odio cupiditate error reprehenderit culpa aperiam deserunt unde reiciendis ex magni corporis dignissimos, dolore suscipit nam!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae ab est voluptatem, obcaecati placeat architecto veritatis praesentium quam dolores nihil error, sunt, esse libero harum ducimus. Dolorum voluptatum, omnis nihil.</p>
