<style type="text/css">
form {
    width: 50%;
    margin: 0 auto;
}

input,
textarea {
    display: block;
    width: 100%;
    border: 0;
    padding: 10px 5px;
  background: white no-repeat;
    
    /*
    * IMPORTANT PART HERE
    */
    
  /* 2 imgs : 1px gray line (normal state) AND 2px green line (focus state) */
    background-image: linear-gradient(to bottom, #1abc9c, #1abc9c), linear-gradient(to bottom, silver, silver);
    /* sizes for the 2 images (default state) */
    background-size: 0 2px, 100% 1px;
    /* positions for the 2 images. Change both "50%" to "0%" or "100%" and tri again */
    background-position: 50% 100%, 50% 100%;

    /* animation solely on background-size */
  transition: background-size 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);

}

input:focus,
textarea:focus{
  /* sizes for the 2 images (focus state) */
    background-size: 100% 2px, 100% 1px;
    outline: none;
}
</style>
<div class="container">
<!-- STYLE ONLY FOR DEMO - REMOVE -->

<form action="mail.php" method="POST">
<p>Name</p> <input type="text" name="name">
<p>Email</p> <input type="text" name="email">

<p>Website</p> <input type="text" name="website">

<p>Message</p><textarea name="message" rows="6" cols="25"></textarea><br />
<input type="submit" value="Send"><input type="reset" value="Clear">
</form>


</div>
